<div id="project-div" style="display:none;">
  <%= form_for :project, url: create_project_path, :html => { :id => "project"} do |form| %>
  <p>
   <div id="label">
    <%= form.label ("title"), "Новый проект", class:'label' %><br>
   </div>
    <%= form.text_field ("title"), placeholder: "Название проекта", class: 'form-control' %>
  </p>
      <div id="buttons">
        <button type="button" class="btn btn-secondary gray col-6" id="cancelButton" onclick="hideBlock('cd')">ОТМЕНА</button>
        <button type="button" class="btn btn-primary blue col-6" onclick="submitForm('project')" >OK</button>
      </div>
      <button type="button" class="btn btn-success green" onclick="changeToTodo()" >Новая задача</button>
   <% end %>
</div>
