
    <%= form_for :todo, url: create_path, :html => { :id => "todo"} do |form| %>
      <p>
       <div id="label">
        <%= form.label ("text"), "Новая задача", class:'label' %><br>
       </div>
        <%= form.text_field ("text"), placeholder: "Название задачи", class: 'form-control' %>
      </p>
       <p>

           <%= select_tag 'todo[project_id]', options_from_collection_for_select(@projectsCollect, 'id', 'title'), class: 'form-control'%>
       </p>
       <div id="buttons">
        <button type="button" class="btn btn-secondary gray" id="cancelButton" onclick="hideBlock('cd')">ОТМЕНА</button>
        <button type="button" class="btn btn-primary blue" onclick="submitForm('todo')" >OK</button>
       </div>
       <button type="button" class="btn btn-success green" onclick="changeToProj()">Новый проект</button>
    <% end %>
